.list-item {
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;

    list-style-type: none;
    position: relative;
    color: #FFFFFF;
}

.list-item::before {
    content: '•';
    position: absolute;
    left: -0.8em;
    top: -0.6rem;
    font-size: 2.0em;
    color: #61dafb;
}