.container-title {
    font-family: "Inter", Helvetica;
    font-style: normal;
    font-weight: 700;
    font-size: 39.06px;
    line-height: 47px;
    letter-spacing: -0.05em;

    color: #FFFFFF;
}